[submodule "core"]
	path = core
	url = git@github.com:rxdi/core.git

[submodule "hapi"]
	path = hapi
	url = git@github.com:rxdi/hapi.git
[submodule "graphql"]
	path = graphql
	url = git@github.com:rxdi/graphql.git
[submodule "graphql-pubsub"]
	path = graphql-pubsub
	url = git@github.com:rxdi/graphql-pubsub.git
[submodule "starter-client-side"]
	path = starter-client-side
	url = git@github.com:rxdi/starter-client-side.git
[submodule "starter-client-side-advanced"]
	path = starter-client-side-advanced
	url = git@github.com:rxdi/starter-client-side-advanced.git
[submodule "starter-server-side"]
	path = starter-server-side
	url = git@github.com:rxdi/starter-server-side.git
[submodule "dts-merge"]
	path = dts-merge
	url = git@github.com:rxdi/dts-merge.git
[submodule "install"]
	path = install
	url = git@github.com:rxdi/install.git
[submodule "ipfs-package-example"]
	path = ipfs-package-example
	url = git@github.com:rxdi/ipfs-package-example.git
[submodule "deploy"]
	path = deploy
	url = git@github.com:rxdi/deploy.git
