[submodule "core"]
	path = core
	url = git@github.com:rxdi/core.git

[submodule "hapi"]
	path = hapi
	url = git@github.com:rxdi/hapi.git
[submodule "graphql"]
	path = graphql
	url = git@github.com:rxdi/graphql.git
[submodule "graphql-pubsub"]
	path = graphql-pubsub
	url = git@github.com:rxdi/graphql-pubsub.git
[submodule "starter-client-side"]
	path = starter-client-side
	url = git@github.com:rxdi/starter-client-side.git
[submodule "starter-client-side-advanced"]
	path = starter-client-side-advanced
	url = git@github.com:rxdi/starter-client-side-advanced.git
[submodule "starter-server-side"]
	path = starter-server-side
	url = git@github.com:rxdi/starter-server-side.git
[submodule "dts-merge"]
	path = dts-merge
	url = git@github.com:rxdi/dts-merge.git
[submodule "install"]
	path = install
	url = git@github.com:rxdi/install.git
[submodule "ipfs-package-example"]
	path = ipfs-package-example
	url = git@github.com:rxdi/ipfs-package-example.git
[submodule "deploy"]
	path = deploy
	url = git@github.com:rxdi/deploy.git
[submodule "browser-server"]
	path = browser-server
	url = git@github.com:rxdi/browser-server.git
[submodule "deploy-webui"]
	path = deploy-webui
	url = git@github.com:rxdi/deploy-webui.git
[submodule "starter-client-router-preact"]
	path = starter-client-router-preact
	url = git@github.com:rxdi/starter-client-router-preact.git
[submodule "neo4j"]
	path = neo4j
	url = git@github.com:rxdi/neo4j.git
[submodule "schematics"]
	path = schematics
	url = git@github.com:rxdi/schematics.git
[submodule "graphql-rabbitmq-subscriptions"]
	path = graphql-rabbitmq-subscriptions
	url = git@github.com:rxdi/graphql-rabbitmq-subscriptions.git
[submodule "graphql-client"]
	path = graphql-client
	url = git@github.com:rxdi/graphql-client.git
[submodule "lit-html"]
	path = lit-html
	url = git@github.com:rxdi/lit-html.git
[submodule "forms"]
	path = forms
	url = git@github.com:rxdi/forms.git
[submodule "starter-client-side-lit-html"]
	path = starter-client-side-lit-html
	url = git@github.com:rxdi/starter-client-side-lit-html.git
[submodule "router"]
	path = router
	url = git@github.com:rxdi/router.git
