/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


body, html, .mat-drawer-container {
    background-color: white;
    padding: 0;
    margin: 0;
}



.pointer {
    cursor: pointer;
}

.pointer:hover {
    background-color: rgb(23, 129, 190);
    color: white;
}

.spacer {
    flex: 1 3 auto;
}


monaco-editor { height: 500px; display:block; }